---
layout: default
title: "Tools"
description: ""
group: navigation
navorder: 5
---
{% include JB/setup %}
<div class="construction">
    <hr />
    We are working on this page. Stay tuned.
    <hr />
</div>

<div class="pager">

	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		<a class="prev" href="/{{ page.category }}/">
			<i class="fa fa-chevron-left fa-lg"></i>
		</a>
		{% else %}
		<a class="prev" href="/{{ page.category }}/page{{ paginator.previous_page }}">
			<i class="fa fa-chevron-left fa-lg"></i>
		</a>
		{% endif %}
	{% endif %}

	{% if paginator.next_page %}
	<a class="next" href="/{{ page.category }}/page{{ paginator.next_page }}">
		<i class="fa fa-chevron-right fa-lg"></i>
	</a>
	{% endif %}

</div>

Here you'll find software tools developed by members of the SEE Lab.

To see any of the tools under development, please visit our GitHub repository at 
    <a href="https://github.com/see-lab/" target="_blank">https://github.com/see-lab/</a>.

<hr>

{% for tool in site.categories.tools %}

    {% cycle 'add rows': '<div class="row">
    ', '', '' %}
    <div class="col-md-4 projectbox">
        <div class="media">
            <a class="project-image" href="{{ tool.url }}">
                <img class="media-object member-photo" src="{{ tool.image }}">
            </a>
        </div>
        <div class="smallhead media-heading">
            <a href="{{ tool.url }}" class="off">{{ tool.title }}</a>
        </div>
        <div class="smallspacer"></div>
        <!--Uncomment the below rows if want to add a small description to each page (currently not in page yaml)-->
        <!--       <div class="note">
            <a href="{{ tool.url }}" class="off">{{ tool.description }}</a>
        </div>
        -->
        <div class="smallspacer"></div>
        <div class="smallnote">
            Updated
            <a class="off" href="{{ tool.commits.first.url }}">
                {{ tool.commits.first.date | date: "%-d %b %Y" }}
            </a>
            by
            <a class="off" href="{{ tool.commits.first.author_url }}">
                {{ tool.commits.first.author_login }}
            </a>
        </div>
        <div class="bigspacer"></div>
        <div class="spacer"></div>
    </div>
    {% cycle 'close rows': '', '', '
</div>' %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}

<div class="bigspacer"></div>

{% comment %}

<div class="bigspacer"></div>
<div class="row">
	<div class="col-md-12 text-center">
		<a class="off" href="/{{ page.category }}/archive/">
			<div class="smallhead">Archive</div>
			<i class="text-gray fa fa-chevron-circle-down fa-2x"></i>
		</a>
	</div>
</div>
{% endcomment %}


<div class="bigspacer"></div>
